<? extends parent.html ?>
<? def pagename ?>home<? undef ?>
<? def head ?>
<link rel="stylesheet" href="/static/css/chatroom-list.css">
<style>
    #banner {
        width: 100%; height: 60vh;
        position: relative;
        background: url("/static/img/banner.png") center;
        background-size: cover;
    }

    #banner-shade {
        background-color: rgba(0, 0, 0, 0.72);
        box-shadow: inset 0 0 49vw 1vw #000;
    }

    #banner-content {
        padding: 0 10%;
        font-size: 0;
    }

    #banner-text-container {
        display: inline-block;
    }

    #banner-title {
        font-size: 72pt;
    }

    #banner-subtitle {
        margin-left: 5px;
        margin-bottom: 4px;
        font-size: 36pt;
    }

    #banner-link {
        opacity: 0.627;
        transition: opacity 0.2s;
    }

    #banner-link:hover {
        opacity: 1;
    }

    #banner-link-text, #banner-link-icon {
        display: inline-block;
        vertical-align: middle;
    }

    #banner-link-text, #banner-welcome {
        margin-left: 7px;
        font-size: 18pt;
        text-transform: lowercase;
    }

    #banner-link-icon {
        height: 24px;
        margin-left: 2px;
    }

    #extern-section {
        width: 100%;
        padding: 18px 10%;
        display: flex;
        flex-flow: row;
        align-items: center;
        background-color: #111;
    }

    #extern-header {
        font-size: 16pt;
        font-weight: bold;
    }

    #extern-list {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
    }

    .extern {
        display: block;
        opacity: 0.627;
        transition: opacity 0.2s;
    }

    .extern:hover {
        opacity: 1;
    }

    .extern-icon, .extern-text {
        display: inline-block;
        vertical-align: middle;
    }

    .extern-icon {
        height: 36px;
        margin-right: 4px;
    }

    .section {
        margin: 36px 0;
        padding: 0 10%;
    }

    .more-button-container {
        text-align: center;
    }

    .more-button-icon, .more-button-text {
        display: inline-block;
        vertical-align: middle;
    }

    .more-button {
        padding: 4px 6px;
        display: inline-block;
        border: 1px solid #e6d378;
    }

    .more-button:hover {
        border-color: #5ee7c1;
    }

    .more-button-icon {
        height: 24px;
    }

    .more-button-text {
        font-size: 11pt;
    }
</style>
<? undef ?>
<? def main ?>
<div id="banner">
    <div id="banner-shade" class="visor"></div>
    <div id="banner-content" class="visor">
        <div class="valign-helper"></div>
        <div id="banner-text-container">
            <p id="banner-title">libseven</p>
            <p id="banner-subtitle">interactive fanfiction</p>
            <? if (req.user) { ?>
                <p id="banner-welcome">welcome back, <?= req.profile.name ?>.</p>
            <? } else { ?>
                <a id="banner-link" href="/login">
                    <span id="banner-link-text">log in</span>
                    <img id="banner-link-icon" src="/static/img/icon/right.png"/>
                </a>
            <? } ?>
        </div>
    </div>
</div>
<div id="extern-section">
    <div id="extern-header">Find us on...</div>
    <div id="extern-list">
        <a class="extern" href="https://github.com/rfassoc/libseven" target="_blank" rel="noopener">
            <img class="extern-icon" src="/static/img/extern/github.png"/>
            <span class="extern-text">GitHub</span>
        </a>
        <a class="extern" href="https://discord.gg/tqhPaNv" target="_blank" rel="noopener">
            <img class="extern-icon" src="/static/img/extern/discord.png"/>
            <span class="extern-text">Discord</span>
        </a>
    </div>
</div>
<div class="section">
    <h1>New Chatrooms</h1>
    <div class="chatroom-list">
        <div class="chatroom-list-bg-a visor"></div>
        <div class="chatroom-list-bg-b visor"></div>
        <? for (const chat of chats) { ?>
            <div class="chatroom">
                <div class="chatroom-bg-container visor">
                    <svg class="chatroom-bg" viewBox="-2 -2 34 68">
                        <path d="M 0 0 L 32 0 M 23.5 64 L 32 64"></path>
                        <path d="M 25 0 L 25 64 M 0 -2 L 0 2" stroke-width="3"></path>
                    </svg>
                </div>
                <div class="chatroom-details">
                    <a class="chatroom-name" href="<?= chat.url ?>"><?= chat.name ?></a>
                    <a class="chatroom-author" href="/profile/<?= chat.author.twitterId ?>">
                        <?= chat.authorProfile.screen_name ?>
                    </a>
                </div>
                <a class="chatroom-members" href="<?= chat.url ?>">
                    <? for (const member of chat.members) { ?>
                        <div class="chatroom-member tt" data-tt="<?- member.name ?>">
                            <img src="<?= member.avatar ?>"/>
                        </div>
                    <? } ?>
                </a>
            </div>
        <? } ?>
    </div>
    <div class="more-button-container">
        <a class="more-button" href="/browse">
            <span class="more-button-text">keep browsing</span>
            <img class="more-button-icon" src="/static/img/icon/right.png"/>
        </a>
    </div>
</div>
<? undef ?>